/* 1. BOLD VARIANT */
/* 1. BOLD VARIANT */
@font-face {
  font-family: "Adesso";
  font-weight: 700;
  font-style: normal;
  /* .. means "go out of the css folder, then look into the fonts folder" */
  src: url("../css/font/Adesso-Bold.woff2") format("woff2"),
    url("../css/font/Adesso-Bold.woff") format("woff");
  font-display: swap;
}

/* 2. THIN/REGULAR VARIANT */
@font-face {
  font-family: "Adesso";
  font-weight: 300;
  font-style: normal;
  src: url("../css/font/AdessoW00-Regular.woff2") format("woff2"),
    url("../css/font/AdessoW00-Regular.woff") format("woff");
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

* {
  font-family: "Adesso";
}

body {
  background-color: #efdba8;
  /* Use only font-family and include a generic fallback */
  font-family: "Adesso";
  /* Using a single padding value for consistency across the entire page */
  padding: 7.5px;
  margin: 0;
  text-align: center; /* All text-based elements inherit left alignment */
  color: black;
}

/* --- Home Page Styles --- */
body.index {
  background-color: #efdba8; /* peachish */
}

body.charts {
  background-color: #fdba9d;
}

body.tables {
  background-color: #febb0b;
}

body.information {
  background-color: #fc7753;
}

.navigation {
  text-align: center; /* This centers all the links inside the div */
  width: 100%; /* Ensures the container spans the full width */
  margin-top: 20px; /* Optional: adds some space at the top */
}

.navigation a {
  background-color: transparent;
  text-align: center;
  text-decoration: underline;
  padding: 10px;
  color: black; /* Or whatever color you want the text to be */
  font-size: 25px;
}
