{% extends "layout.html" %} {% block mainBlock %}
<body class="home-page">
<h1 class="intropage">Hello there! I'm  <span class="tooltip-trigger" id="click-word">HABAD OLAD <img src="{{ url_for('static', filename='css/assets/photos/mestaringatarainbow.jpeg') }}" alt="A photo for the tooltip" class="tooltip-photo"> </span>,  a <a class="h1-link" href="https://github.com/HabadOlad" target="_blank">programmer</a> by day, and uh... a slightly sillier programmer at <a class="h3-link" href="https://habadolad.com/zork.html"" target="_blank">night</a>. <a  class="h2-link" href="contactpage.html" target="_blank">Ask me</a> to build something! I dare you !</h1> 
  <h1 h1 class="intropage" id="clock"></h1>
  <footer id="footer"></footer>
  <script src="/static/js/firstWebsiteJS.js" type="text/javascript"></script>

{% endblock %}
