<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Habad Stops Snoring!</title>
    <link href="/static/css/stopsnoringml.css" rel="stylesheet" />
  </head>
  <body>
    <div class="nav-wrapper">
      <div class="topnav" id="myTopnav">
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          &#9776;
        </a>
        <a class="link-home" href="/">home</a>
        <a class="link-projects" href="/chart">Chart</a>
        <a class="link-blog" href="/tables">Tables</a>
        <a class="link-contact" href="/contactpage" target="_blank">Contact</a>

        <main></main>
      </div>
    </div>
    <footer id="footer"></footer>
  </body>
</html>
